{% extends 'base.html' %}

{% block title %}{{ site_name }}{% endblock %}

{% block content %}
<h1>{{ site_name }}</h1>
<h4>{{ title }}</h4>
<iframe width="560" height="315" src="{{ youtube_embed_url }}" frameborder="0" allowfullscreen></iframe></br>
<a href="{{ youtube_original_url }}">Watch in YouTube</a>
<p>{{ content }}</p>
<img src="{{ youtube_thumbnail_url }}" alt="{{ title }}" width="90" height="68">

<form action="{% url 'posts:create' %}" method="POST">
    {% csrf_token %} 
    <p>Click Submit to publish this post</p>
    <input type="hidden" name="title" value="{{ title }}">
    <input type="hidden" name="video_id" value="{{ video_id }}">
    <input type="hidden" name="content" value="{{ content }}">
    <input type="submit">
</form>
{% endblock %}
