{% load pipeline %}<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8">

        <title>{% block title %}{% endblock %}</title>

        {% stylesheet "fastvid" %}
        <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>       
    </head>

    <body>
        {% include 'partials/header.html' %}
        {% include 'partials/messages.html' %}
        <section>
            {% block content %}
            {% endblock %}
        </section>
        {% include 'partials/footer.html' %}
        {% block custom_javascript %}
        {% endblock %}
    </body>
</html>
