{% extends 'base.html' %}

{% block title %}{{ site_name }}{% endblock %}

{% block content %}
<h1>{{ site_name }}</h1>
<p>Hello, {{ request.user.first_name }} {{ request.user.last_name }}!</p>
<a href="{% url 'posts:create' %}">Create Post</a>
</br>
<ul>
    {% for post in request.user.post_set.all %}
    <img src="{{ post.youtube_thumbnail_url }}" alt="{{ post.title }}" height="68" width="90">
    <li><a href="{% url 'posts:detail' slug=post.hash_id %}"><h4>{{ post.title }}</h4></a></li>
    {% endfor %}
</ul>
{% endblock %}
