<header>
    <ul>
        <li><a href="{% url 'posts:list' %}">Posts</a></li>
        <li><a href="{% url 'tags:list' %}">Tags</a></li>
        {% if request.user.is_authenticated %}
        <li>Welcome, <a href="{% url 'user:mypage' %}">{{ request.user.username }}</a></li>
        <li><a href="{% url 'user:logout' %}">Logout</a></li>
        {% else %}
        <li><a href="{% url 'user:login' %}">Login</a></li>
        <li><a href="{% url 'user:signup' %}">Signup</a></li>
        {% endif %}
    </ul>
</header>
